<h1>hello</h1>
<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: Movie.all, prompt: "Choose a movie"  %>
  <%= f.submit "Save", class: "btn btn-primary"%>
<% end %>
